@import './Scss/abstracts/_variables';
@import './Scss/abstracts/mixin';

@media  (max-width: 1300px) {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Vibes&display=swap');
  * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
  }
  body{
    color:white;
    background-color:#0f0f0e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    background-size:cover;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
    margin:0;
  }
   .App{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     align-content: center;
     overflow-y: scroll;
     overflow-x: hidden;
    }
::-webkit-scrollbar { 
    width: 1em; 
} 
::-webkit-scrollbar-track { 
    border:1px solid #FFC205;
    border-radius: 100vw;
    margin-block: 0.5em; 
} 
::-webkit-scrollbar-thumb{
    background-image:  url(./img/scroollHarryP.png); 
    border: 0.1em solid #9BA3EB; border-radius: 100vw;
}
.containerNav{
  display: flex;
  justify-content: center;
}
.logo{
      width:100%;
      height: auto;
      display:flex;
      justify-content: center;
      margin-bottom: 15px;
}
.imgLogo{
      width: 300px;
      height: auto;
      justify-self: center;
  }
  .containerButtonsMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
   
}
#containerFloatSection{
 display: flex;
//  height: 100%;
 width: fit-content;
 justify-content: center;
 align-items: flex-end;
 position: fixed;
//  z-index:-1; 
}
.containerBtnMenu{
    display:flex;
    align-items: row;
    width: 100%;
    height: auto;
   
    justify-content: center;
    text-align: center;
    z-index:2; 
    
}
.btonMain{
  @include btnMenu;
}
.btnFloatLeft{
    @include floatMenu(25px 0  0 0);
    image:url(./img/fav.png);
    align-items: center;
    justify-content: center;
  }
  .iconFav{
    width: 20px;
    height: auto;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
  }
.iconAdd{
  width: 20px;
  height: auto;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
 
  
}
.btnFloatRight{
    @include floatMenu(0 25px  0 0);
    align-items: center;
    justify-content: center;
}

.boxModal{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-content: space-between;
}
}