@import './Scss/abstracts/_variables';
@import './Scss/abstracts/mixin';

@media  (max-width: 1300px) {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Vibes&display=swap');
  * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
  }
  body{
    color:white;
    background-color:#0f0f0e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    background-size:cover;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
    margin:0;
  }
   .App{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     align-content: center;
     overflow-y: scroll;
     overflow-x: hidden;
    }
::-webkit-scrollbar { 
    width: 1em; 
} 
::-webkit-scrollbar-track { 
    border:1px solid #FFC205;
    border-radius: 100vw;
    margin-block: 0.5em; 
} 
::-webkit-scrollbar-thumb{
    background-image:  url(./img/snitch1.png); 
    border: 0.1em solid #9BA3EB; border-radius: 100vw;
}
.containerNav{
  display: flex;
  justify-content: center;
}
.logo{
      width:100%;
      height: auto;
      display:flex;
      justify-content: center;
      margin-bottom: 15px;
}
.imgLogo{
      width: 300px;
      height: auto;
      justify-self: center;
  }
  .containerButtonsMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
   
}
#containerFloatSection{
 display: flex;
 width: fit-content;
 justify-content: center;
 align-items: flex-end;
 position: fixed;
 margin-top: 750px;

}
.containerBtnMenu{
    display:flex;
    align-items: row;
    width: 100%;
    height: auto;
   
    justify-content: center;
    text-align: center;
    z-index:2; 
    
}
.btonMain{
  @include btnMenu;
}
.btonMain:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}
.btnFloatLeft{
    @include floatMenu(25px 0  0 0);
    image:url(./img/fav.png);
    align-items: center;
    justify-content: center;
  }
  .iconFav{
    width: 20px;
    height: auto;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
  }
.iconAdd{
  width: 20px;
  height: auto;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
 
  
}
.btnFloatRight{
    @include floatMenu(0 25px  0 0);
    align-items: center;
    justify-content: center;
}

.boxModal{
  display: flex;
  width: 100%;
  height: auto;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 background-color: azure;
 
}

.pModal{
  color:#263238;
  font-size: 15px;
  display: flex;
}
.inputModal{
  width: 250px;
  height: 45px;
  display: flex;
}
.btnModal{
  background: rgba(0, 0, 0, 0.6);
  border: 4px solid #6B63B5;
  border-radius: 4px;
  width: 288px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 35px;
}

}
/*---------DESKTOP--------*/
@media  (min-width: 1301px) {
  * {
    margin: 0;
    padding: 0;
  }
  body{
    color:black;
    background-image: url(./img/fondoHP.jpg);  
    background-size:cover;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
   
   }
   .App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
   }
::-webkit-scrollbar { 
   width: 1em; 
} 
::-webkit-scrollbar-track { 
   border:1px solid #FFC205;
   border-radius: 100vw;
   margin-block: 0.5em; 
} 
::-webkit-scrollbar-thumb{
   background-image:  url(./img/snitch1.png); 
   border: 0.1em solid #9BA3EB; border-radius: 100vw;
}
.containerNav{
 display: flex;
 justify-content: center;
}
.logo{
     width:100%;
     height: auto;
     display:flex;
     justify-content: center;
     margin-bottom: 15px;
}
.imgLogo{
     width: 500px;
     height: auto;
     justify-self: center;
     margin:50px 0 30px 0;
 }
 .containerButtonsMain{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   
  
}
   .boxModal{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
   }
   #containerFloatSection{
    display: flex;
    width: fit-content;
    justify-content:flex-start;
   align-content: flex-start;
   align-items: flex-start;
    position: fixed;

    
   
   }
   .containerBtnMenu{
       display:flex;
       align-items: row;
       width: 100%;
       height: auto;
      
       justify-content: center;
       text-align: center;
       z-index:2; 
       
   }
   .btonMain{
     @include btnMenu1;
   }
   .btonMain:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }
   .btnFloatLeft{
       @include floatMenu(0 0  0 25px);
       image:url(./img/fav.png);
       align-items: center;
       justify-content: center;
       align-content: flex-start;
       
     }
     .iconFav{
       width: 20px;
       height: auto;
       margin-left: 15px;
       align-items: center;
       justify-content: center;
     }
   .iconAdd{
     width: 20px;
     height: auto;
     margin-left: 15px;
     align-items: center;
     justify-content: center;
    
     
   }
   .btnFloatRight{
       @include floatMenu(0 0  25px 0);
       align-items: center;
       justify-content: center;
       align-content: flex-start;
       margin-right: -1100px;
   }
   .boxModal{
    display: flex;     
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-items: center;
    background-color: azure;
    
   
   
  }
  .containerStructure{
    display:inline-block

  }
 .ReactModal__Content{
   width: 50%;
   height: 60%;
   justify-self: center;
   margin:10% 25% 0;
   justify-items: center;
 }
  .formModal{
    display:grid;
    width: inherit;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 10% 20% 10% 20% 10% 10% 10% 20%;
  }
  .addPerson{
    grid-column:1/2;
    grid-row: 1/2;
    font-size: 25px;
    font-weight: bold;
    
  }
  .closeModal{
    width: 25px;
    height: 25px;
    justify-content: right;
    border:none;
    background: none;
    justify-self: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #name{
    grid-column:1/2 ;
    grid-row:2/3 ;
  }
  #inputname{
    grid-column: 1/2;
    grid-row:3/4;
  }
  #eyes{
    grid-row: 4/5;
    grid-column: 1/2;
  }
  #inputeyes{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #birthday{
    grid-column:2/3 ;
    grid-row: 2/3;
  }
  #inputbirthday{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #hair{
    grid-column:2/3 ;
    grid-row: 4/5;
  }
  #inputhair{
    grid-column: 2/3;
    grid-row: 5/6;
  }
  #gender{
    grid-column:1/2 ;
    grid-row: 6/7;
  }
  #btngender{
    display: flex;
    flex-direction: row;
    gap:10px;
    grid-column:1/2 ;
    grid-row: 7/8;
    height: fit-content;
  }
  #position{
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #btnposition{
    display: flex;
    flex-direction: row;
    gap:10px;
    grid-column:2/3 ;
    grid-row: 7/8;
    height: fit-content;
  }
  #photo{
    grid-row:8/9 ;
    grid-column: 1/2;
  }
  #inputphoto{
    grid-column:2/3 ;
    grid-row:8/9 ;
  }
  .btnModal{
    background: rgba(0, 0, 0, 0.6);
    border: 4px solid #6B63B5;
    border-radius: 4px;
    width: 288px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
    grid-column: 1/3;
    grid-row: 9/10;
    justify-self: center;
    color:#F3F2F3;
  }
  .btnModal:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease; 
  }
  
  .pModal{
    color:#263238;
    font-size: 15px;
    display: flex;
  }
  .inputModal{
    width: 90%;
    height: 50px;
    border-radius: 5px 5px 0 0;
    border-style: #263238;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color:#F3F2F3;

  }


   
  }